body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  border: 1px solid #eee;
  transition: all ease 500ms;
  overflow: hidden;
}

p {
  font-weight: bold;
}

span {
  color: grey;
  font-weight: normal;
  padding-left:2rem;
}
